body{
    margin: 0%;
}
nav{
    position: sticky;
    margin: 0px;
    padding-top: 20px;
    background-color: black;
    display: flex;
    height: 60px;

    .logo{
        margin-left: 20px;
        width: 80%;
    }
    .navbar{
        width: 120%;
    }    
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
nav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.674);
    font-size: 20px;
}
nav ul li a:hover{
    text-decoration: underline;
    color: white;
}
.books{
    margin-left: 10px;
}
.book1{
    display: flex;
    margin-bottom: 40px;
    .img1{
        width: 30%;
        margin-left: 70px;
        padding-left: 0px;
    }
    .text1{
        width: 70%;
        margin-right: 70px;
        margin-top: opx;
    }
}
.book1{
    display: flex;
    margin-bottom: 40px;
    .img2{
        width: 30%;
        margin-left: 130px;
        padding-left: 0px;
    }
    .text2{
        width: 70%;
        margin-right: 0px;
        margin-top: 0px;
    }
}
.img1 a{
    color: black;
}
.img2 a{
    color: black;
}
.img1 img{
    height: 200px;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 2px;
    transition: transform 2s;
}
.img1 img:hover{
    transform: scale(1.1);
}
.img2 img{
    height: 200px;
    width: 250px;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 2px;
    transition: transform 2s;
}
.img2 img:hover{
    transform: scale(1.1);
}
.text1 p{
    margin-top: 0px;
    font-size: 20px;
}
.text2 p{
    margin-top: 0px;
    font-size: 20px;
}
footer{
    position: relative;
    color: aliceblue;
    margin-top: 20px;
    background-color: black;
    height: 270px;
}
.phone img{
    position: absolute;
    top: 60px;
    right: 690px;
    height: 30px;
}
.footer{
    display: flex;
    justify-content: space-around;
}
.footer ul{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.footer li{
    padding-top: 10px;
    list-style-type: none;
}
.footer a{
    color: aliceblue;
    text-decoration: underline;
}
span{display: flex;
    justify-content: center;

}
span img{
    height: 40px;
    padding-top: 20px;
    padding-left: 25px;
}